<div class="jumbotron">
</div>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image, width: 280, height: 200), listing if listing.image.attached? %><br>
        <div class="caption">
          <h3><%= listing.name %><br></h3>
          <h4><%= "Sold by: #{listing.user.name}" %></h4>
          <%= listing.description %><br>
          <%= number_to_currency(listing.price) %><br>
          <%= listing.city %><br>
          <%= listing.state %><br>
          <%= listing.best_before %><br>
          <%# Code for user listings validations %> 
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>


<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

<%# link_to 'Show', listing, class: "btn btn-success" %>