
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag(@listing.image, width: 450, height: 300) if @listing.image.attached? %>
    </div>
  </div>
  <div class="col-md-3">
    <h2><%= @listing.name %></h2>
  
<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Best before:</strong>
  <%= @listing.best_before %>
</p>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', listings_path, class: "btn btn-warning" %>

