<div class="center">
    <h2> Schnack Sales! </h2>
</div>

<table class="table table-bordereed table-light">
  <thead class="thead-dark">
  <tr>
    <th class="center">Image</th>
    <th class="center">Schnack</th>
    <th class="center">Price</th>
    <th class="center">Schnacker</th>
    <th class="center">Sold</th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to image_tag(order.listing.image, width: 150, height: 100) %><br>
        <td><%= order.listing.name %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.buyer.name%></td>
        <td><%= order.created_at.strftime ("%B %-d, %Y")%>
      </tr>
  <% end %>
</table>



