 <%# All relevant NAVBAR Concerns %>
  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Schnacks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about">About</a>
      </li>
       <li class="nav-item">
       <a class="nav-link" href="/pages/contact">Contact</a>
      </li>
    </ul>
  </div>

<%#User sign in sign out navbar right features %>

  <div class="navbar-nav ml_auto">
      <li class="nav-item px-2">
        <% if user_signed_in? %>
        <%= link_to "Sold", sales_path %>
        <%= link_to "Purchased", purchases_path %>
        <%= link_to "Listings", seller_path %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
      </li>  
  </div>
</nav>


